# Public (kan visas i klient)
NEXT_PUBLIC_APP_NAME=Sintari Relations
NEXT_PUBLIC_APP_VERSION=v0.1
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Server (för produktion)
NODE_ENV=production

# PDF/Chromium (valfritt, används lokalt)
# PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome

# Stripe (för betalningar)
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID=price_...

# Valfritt för framtida OpenAI-integration
# OPENAI_API_KEY=sk-...

